<a href="https://colab.research.google.com/github/marilena238/datastories_for_emme/blob/main/Copy_of_Copy_of_Classwork_exercises_Kokkiza_Intro_to_Python_2_for_loops_%26_if_statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ασκήσεις του μαθήματος "Εισαγωγή στην Python 2 - Εντολές ελέγχου: for και if"



---

####**Άσκηση 1**

**Try yourself**: Φτιάξτε ένα νέο κελί κώδικα ακριβώς από κάτω και:

* Φτιάξτε μια λίστα με ονόματα 3 αγαπημένων σας ηθοποιών
* Φτιάξτε άλλη μια λίστα με το βαθμό (από το 1 έως το 10) που θα τους βάζατε
* Φτιάξτε μια λούπα που να τρέχει στη λίστα των ηθποιών και να τυπώνει το όνομα του/της ηθοποιού με το βαθμό του

In [ ]:
actors = ["Jenifer Aniston", "Leonardo Dicaprio", "Timothee Chalamet"]
numbers = [10, 9, 8]
for name in actors:
   print(name)
for number in numbers:
   print(number)

Jenifer Aniston
Leonardo Dicaprio
Timothee Chalamet
10
9
8

In [ ]:
for i in range(0,3):
   print(actors[i], numbers[i])

Jenifer Aniston 10
Leonardo Dicaprio 9
Timothee Chalamet 8



---

####**Άσκηση 2**

**Try yourself**: Στο παρακάτω κελί και κάτω από τον υπάρχοντα κώδικα:

* φτιάξτε μια for loop που θα τρέχει 22 φορές και 
* θα φτιάχνει μια μεταβλητή με όνομα c και τιμή το άθροισμα των a και b
* θα τυπώνει την τιμή του c
* θα αλλάζει την τιμή του a σε b και  
* θα αλλάζει την τιμή του b σε c
* τρέξτε τον κώδικα

In [ ]:
a=2
b=2
for x in range(21):
   c = a + b
   print(c)
   a=b
   b=c

4
6
10
16
26
42
68
110
178
288
466
754
1220
1974
3194
5168
8362
13530
21892
35422
57314

In [ ]:
a = 0 
b = 1
print(a)
print(b)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657



---

####**Άσκηση 3**

**Try yourself**: Συμπληρώστε το παρακάτω code cell, ακολουθώντας τα σχόλια που περιέχει, έτσι ώστε ο κώδικας:

* να φτιάχνει ένα λεξικό με κλειδιά τις πόλεις: Αθήνα, θεσσαλονίκη, Λισαβόνα και τιμές σε όλα το 0
* να φτιάχνει μια λίστα με τιμές αριθμούς που δηλώνουν τις θερμοκρασίες της ημέρας σε κάθε πόλη: 19, 17, 21
* να περιέχει μια λούπα που θα τρέχει αριθμούς στο εύρος των τιμών που μπορεί να πάρει το index των αντικειμένων της λίστας και
  1. θα εκχωρεί το εκάστοτε όνομα του key του λεξικού σε μια μεταβλητή
  2. θα θέτει σαν τιμή του εκάστοτε κλειδιού την αντίστοιχη τιμή από τη λίστα των θερμοκρασιών

**Tips**: 
* θα χρησιμοποιηθεί η συνάρτηση list για να μετατραπεί το set των keys() σε λίστα
* θα χρησιμοποιηθεί ο αριθμός index για να επιλέγονται τα keys του λεξικού και τα αντικείμενα της λίστας

In [ ]:
empty={}
cities={
    "Athens": 0,
    "Thessaloniki": 0,
    "Lisboa": 0,
}
print(cities)
print(type(cities))

{'Athens': 0, 'Thessaloniki': 0, 'Lisboa': 0}
<class 'dict'>

In [ ]:
cities = ["Athens", "Thessaloniki", "Lisboa"]
temperature = [19, 17, 21]
for name in cities:
   print(name)
for number in temperature:
   print(number)

Athens
Thessaloniki
Lisboa
19
17
21

In [ ]:
for i in range(0,3):
  print(cities[i], temperature [i])

Athens 19
Thessaloniki 17
Lisboa 21

In [2]:
cities = ["Athens", "Thessaloniki", "Lisboa"]
for city in enumerate(cities):
    print(city[0],city[1])

0 Athens
1 Thessaloniki
2 Lisboa

In [ ]:
from _typeshed import ProfileFunction
# φτιάξε ένα λεξικό με κλειδιά τις πόλεις: Αθήνα, θεσσαλονίκη, Λισαβόνα και τιμές σε όλα το 0
cities_tempD = 
            
    

# φτιάξτε μια λίστα με τιμές αριθμούς που δηλώνουν τις θερμοκρασίες της ημέρας σε κάθε πόλη: 19, 17, 21
tempL = 

# φτιάξτε μια for λούπα που θα τρέχει αριθμούς στο εύρος των τιμών που μπορεί να πάρει το index των αντικειμένων της λίστας temp

  # δώσε στη μεταβλητή key την τιμή του κλειδιού του λεξικού που αντιστοιχεί στον τρέχοντα αριθμό index
  # μην ξεχάσετε να μετατρέψετε το set των keys σε λίστα - προσοχή στις παρενθέσεις
  key = 
  # δώσε στο τρέχον key του λεξικού την τιμή από τη λίστα των θερμοκρασιών που αντιστοιχεί στον τρέχοντα αριθμό index
  
# (εκτός της for λούπας - δηλαδή χωρίς intend) τύπωσε το λεξικό

SyntaxError: ignored

In [ ]:
temperatureL=[]



---

####**Ασκηση 4**

**Try yourself**: 

Στο κελί κώδικα ακριβώς κάτω από αυτό:

* δημιουργήστε μια μεταβλητή με τιμή το όνομά σας και τρέξτε το κελί

Φτιάξτε ένα **νέο κελί** (Code cell) από κάτω και:

* γράψτε ένα κομμάτι κώδικα το οποίο:
  * θα ελέγχει αν η τιμή της μεταβλητής του ονόματος είναι "Terry"
  * αν είναι, θα τυπώνει στην οθόνη "Γειά σου Terry!"
  * αν δεν είναι:
    * θα τυπώνει "Wrong user" και 
    * θα θέτει στη μεταβλητή του ονόματός σας την τιμή "Terry"
* πριν τρέξετε το κελί, μαντέψτε τι θα τυπωθεί στην οθόνη
* τρέξτε το κελί και συγκρίνετε το αποτέλεσμα με τη μαντεψιά σας
* τι θα τυπωθεί αν ξανατρέξετε το κελί;

In [1]:
name="Marilena Kokkiza"
print(name)

Marilena Kokkiza

In [2]:
if name=="Terry":
   print("Hello Terry")
else :
   print("Wrong user")
   name="Terry"
   print("Terry")

Wrong user
Terry

* πώς θα κάνετε να ξανατυπώσει "Wrong user" χωρίς να γράψετε καθόλου κώδικα; Γράψτε την απάντηση από κάτω σε ένα text cell ή σε ένα code cell σαν comment.

Αν ξανατρέξω το κελί τυπώνεται το Wring user.
Θα το κάνω να ξανατυπώσει wrong user χωρίς να γράψω καθόλου κώδικα, εαν τρέξω το πρώτο code cell και μετά το δεύτερο.



---

####**Άσκηση 5**

Έστω ότι έχουμε μια λίστα με φρούτα

In [ ]:
fruitsL = ["apples", "oranges", "strawberries", "apricots"]

και μια λίστα με τους αριθμούς 1 και 10

In [ ]:
countsL = [1, 10]

Γράψτε έναν κώδικα που θα λουπάρει σε όλα τα φρούτα της λίστας και σε όλους τους αριθμούς της countL και θα τυπώνει το μήνυμα: We've got <αριθμός> <φρούτο>

**Tip**: χρησιμοποιήστε nested for loops (μια for loop μέσα σε μια άλλη for loop)

In [ ]:
for fruit in fruitsL:

IndentationError: ignored

Όλα καλά, αλλά υπάρχει ένα γραμματικό λάθος. Στον ενικό, τα φρούτα δεν πρέπει να έχουν "s" στο τέλος.

Ξέρουμε ήδη ότι ένα string είναι λίστα. Επομένως μπορούμε χρησιμοποιώντας το slicing να πάρουμε τα ονόματα των φρούτων στον ενικό αφαιρώντας το "s" που είναι στο τέλος.

In [ ]:
fruitsL[0][:-1]   # καλούμε το πρώτο όνομα της λίστας και από αυτό κρατάμε τα γράμματα από την αρχή έως το προτελευταίο

'apple'

Πολύ ωραία! Στο επόμενο cell, εφαρμόστε το slicing στη λούπα που γράψατε παραπάνω και τρέξτε το.

In [ ]:
for fruit in fruitsL:

We've got 1 apple
We've got 10 apple
We've got 1 orange
We've got 10 orange
We've got 1 strawberrie
We've got 10 strawberrie
We've got 1 apricot
We've got 10 apricot

Ωραία, αλλά τώρα έφυγε το "s" και από τον πληθυντικό. Προσθέστε στον κώδικα ένα if (μέσα στη δεύτερη for loop) για να ελέγξετε το πότε θα αφαιρείται το "s" και πότε θα παραμένει.

**Tip**: Πολλές φορές, όταν υπάρχει μια σχετική πολυπλοκότητα, επειδή αν αρχίσουμε να γράφουμε υπάρχει ο σοβαρότατος κίνδυνος να μας σπάσουν τα νεύρα, βοηθάει να γράψουμε πρώτα έναν "ψευτοκώδικα" για να ξεκαθαρίσουμε τι πρέπει να γίνει:

```
Για κάθε φρούτο στη fruitsL:
  Για κάθε αριθμό στην countsL:
    Αν ο αριθμός είναι 1:
      σωστό_φρούτο = <φρούτο από τη λίστα χωρίς "s">
      τύπωσε(έχουμε <αριθμός> <σωστό_φρούτο>)
    Αλλιώς:
      τύπωσε(έχουμε <αριθμός> <φρούτο από τη λίστα>)
```

In [ ]:
for fruit in fruitsL:

We've got 1 apple
We've got 10 apples
We've got 1 orange
We've got 10 oranges
We've got 1 strawberrie
We've got 10 strawberries
We've got 1 apricot
We've got 10 apricots

Ωραία, αλλά και πάλι, το strawberrie δεν είναι σωστό. 

Αντιγράψτε τον κώδικα και προσθέστε μια εντολή if, η οποία θα ελέγχει αν το τρίτο γράμμα από το τέλος του εκάστοτε ονόματος στη λίστα των φρούτων είναι "i" (strawberr**i**es). Αν είναι, τότε θα αντικαθιστά (replace) ό,τι πρέπει να αντικατασταθεί όταν τυπώνει το όνομα. 

**Help**: o ψευτοκώδικας θα ήταν κάπως έτσι:

```
Για κάθε φρούτο στη fruitsL:
  Για κάθε αριθμό στην countsL:
    Αν ο αριθμός είναι 1:
      Αν <το 3ο γράμμα απ' το τέλος στο όνομα του φρούτου> είναι "i":
        σωστό_όνομα = <φρούτο απ'τη λίστα με αντικατάσταση της κατάληξης τάδε με τάδε> 
        τύπωσε(έχουμε <αριθμός> <σωστό όνομα>)
      Αλλιώς:
        τύπωσε(έχουμε <αριθμός> <φρούτο από τη λίστα χωρίς "s">)
    Αλλιώς:
      τύπωσε(έχουμε <αριθμός> <φρούτο από τη λίστα)
```

We've got 1 apple
We've got 10 apples
We've got 1 orange
We've got 10 oranges
We've got 1 strawberry
We've got 10 strawberries
We've got 1 apricot
We've got 10 apricots